ul {
    list-style: none;
}

.context-menu {
    position: absolute;
    z-index: 9999999999999;
}

.menu {
    display: flex;
    flex-direction: column;
    background-color: #1c1818;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgb(64 64 64 / 5%);
    padding: 10px 0;
    border: 1px solid #2d2929;
}

.menu>li>a {
    font: inherit;
    border: 0;
    padding: 10px 30px 10px 15px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    text-decoration: unset;
    color: #92918d;
    font-weight: 500;
    transition: 0.5s linear;
    -webkit-transition: 0.5s linear;
    -moz-transition: 0.5s linear;
    -ms-transition: 0.5s linear;
    -o-transition: 0.5s linear;
}

.menu>li>a:hover {
    background: #1c1818;
    color: #50cdff;
}

.menu>li>a>i {
    padding-right: 10px;
}

.menu>li.trash>a:hover {
    color: red;
}