@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.input:focus.input::placeholder {
  transition: 0.3s;
  opacity: 0;
}

.example::-webkit-scrollbar {
  display: none;
}
.example {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

::-webkit-scrollbar {
  width: 8px !important;
  height: 6px !important;
}

::-webkit-scrollbar-track {
  /* background: #f1f1f1;  */
}

::-webkit-scrollbar-thumb {
  background: #d1d1e0;
  width: 2px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b0b0bd;
  border-radius: 10px;
}

.scroller:hover {
  scrollbar-color: #dbdbe8 transparent;
  scrollbar-width: thin;
  scrollbar-gutter: inherit;
}

.scroller {
  scrollbar-color: #dbdbe8 transparent;
  scrollbar-width: thin;
  scrollbar-gutter: unset;
}